doctype html
html
	head
		meta(name='viewport', content='width=device-width, maximum-scale=1')
		meta(charset='UTF-8')
		title Funbox-test
		-var urlStyle = "assets/css/main.dev.css"
		if environment === 'production'
			-var urlStyle = "assets/css/main.min.css"
		link(href=urlStyle rel='stylesheet' type='text/css')
	body
		block page-wrapper
			block header
			block page-content
			block footer
			include _scripts
			block scriptPages